* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  margin: 0 auto;
  font-family: "Fira Sans Condensed", sans-serif;
}
.header {
  font-size: 2.2em;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
}
.info {
  display: flex;
  text-align: center;
  line-height: 1.8em;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: 30vh;
  background-color: #d10f87;
}
/* --------------------------------------- */
.text-types {
  background-color: #de46a4;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2vh;
}
.text-title {
  text-align: center;
  margin-bottom: 3vh;
  font-weight: 600;
  font-size: 1.8em;
}
.title-types {
  background-color: white;
  height: 15vh;
}

.type {
  background-color: white;
  margin-top: 5vh;
  font-size: 1.4em;
  font-family: "Protest Revolution", sans-serif;
  border: 3px solid white;
  border-radius: 12px;
  padding: 30px;
  max-width: 20vw;
  max-height: 60vh;
  overflow: hidden;
}
.text-description,
.draw-description {
  padding: 10px;
  text-align: center;
  line-height: 1.5em;
}
/* ---------------------------------------------- */
.contakt {
  height: 40vh;
  background-color: #de46a4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  max-width: 30vw;
  padding: 20px;
  font-size: 1.6em;
}
.contact-info {
  margin-top: 2vh;
}
/* ---------------------draw dish section */
.draw-dish {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.draw-btn {
  font-size: 1.6em;
  font-family: "Fira Sans Condensed", sans-serif;
  padding: 25px;
  border: 2px solid white;
  background-color: #de46a4;
  border-radius: 12px;
  margin-top: 6vh;
}
.draw-btn:hover {
  background-color: #ff93d6;
}

/* --------------footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 15vh;
  background-color: #929292;
  margin-top: 2vh;
}

.title,
.draw-title,
.interior-title {
  display: flex;
  justify-content: center;
  font-family: "Protest Revolution", sans-serif;
  font-size: 2em;
  font-weight: 400;
  padding: 30px;
}
.interior-title {
  background-color: #de46a4;
}
.showText {
  font-size: 2.2em;
  margin-top: 8vh;
  font-family: "Protest Revolution", sans-serif;
}

/* gallery */
.gallery-food,
.gallery-interior {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.gallery-img {
  /* height: 400px;
  width: 400px; */
  height: 50vh;
  width: 40vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.img1 {
  background-image: url("./assets/jirayu-koontholjinda-G675o-lxbnQ-unsplash.jpg");
}
.img2 {
  background-image: url("./assets/marina-grynykha-FBgCgJhPO2I-unsplash.jpg");
}
.img3 {
  background-image: url("./assets/michele-blackwell-rAyCBQTH7ws-unsplash.jpg");
}
.img4 {
  background-image: url("./assets/charlesdeluvio-D-vDQMTfAAU-unsplash.jpg");
}

/* ----interior */
.img-in1 {
  background-image: url("./assets/interior/baiq-daling-vuZJ1VRHNF4-unsplash.jpg");
}
.img-in2 {
  background-image: url("./assets/interior/jirayu-koontholjinda-QRX-K4BzCSw-unsplash.jpg");
}
.img-in3 {
  background-image: url("./assets/interior/samuel-foster-LxD9fZYR2uw-unsplash.jpg");
}
.img-in4 {
  background-image: url("./assets/interior/thomas-marban-EHK-EH1SRzQ-unsplash.jpg");
}
